force-app/main/default/flows/Account_Record_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>defauktPicklistChoice</name>
        <choiceText>{!None}</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>test7</name>
        <choiceText>Not Selected...</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>none12324</elementReference>
        </value>
    </choices>
    <constants>
        <description>--None--</description>
        <name>defaultValue</name>
        <dataType>String</dataType>
    </constants>
    <constants>
        <name>None</name>
        <dataType>String</dataType>
    </constants>
    <constants>
        <name>none12324</name>
        <dataType>String</dataType>
    </constants>
    <constants>
        <name>test11234</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <description>Account record creation with 2 pages each 5 fields.</description>
    <dynamicChoiceSets>
        <name>OwnershipPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Ownership</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Test1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Active__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Test123</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Active__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Account Record Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Record Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>record_creation</name>
        <label>record creation</label>
        <locationX>765</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>FinalScreen</targetReference>
        </connector>
        <inputAssignments>
            <field>Fax</field>
            <value>
                <elementReference>Fax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Has_Support_Plan__c</field>
            <value>
                <elementReference>Has_Support_Plan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ownership</field>
            <value>
                <elementReference>Ownership</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sic</field>
            <value>
                <elementReference>SIC_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site</field>
            <value>
                <elementReference>Account_Site</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Plan_Expiration_Date__c</field>
            <value>
                <elementReference>SLA_Expiration_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>Website</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>FinalScreen</name>
        <label>FinalScreen</label>
        <locationX>926</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ShowCreatedAccountIdwiththeName</name>
            <fieldText>&lt;p&gt;Your &lt;a href=&quot; /{!record_creation}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Account&lt;/a&gt; is &lt;a href=&quot;/{!record_creation}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Name}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>479</locationX>
        <locationY>51</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen_2</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Test12</name>
            <choiceReferences>Test123</choiceReferences>
            <choiceReferences>test7</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>test7</defaultSelectedChoiceReference>
            <fieldText>Test12</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Fax</name>
            <dataType>String</dataType>
            <fieldText>Fax</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Website</name>
            <dataType>String</dataType>
            <fieldText>Website</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Type</name>
            <choiceReferences>TypePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_2</name>
        <label>Screen 2</label>
        <locationX>614</locationX>
        <locationY>52</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>record_creation</targetReference>
        </connector>
        <fields>
            <name>Account_Site</name>
            <dataType>String</dataType>
            <fieldText>Account Site</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ownership</name>
            <choiceReferences>defauktPicklistChoice</choiceReferences>
            <choiceReferences>OwnershipPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Ownership</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Has_Support_Plan</name>
            <dataType>Boolean</dataType>
            <fieldText>Has Support Plan</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SLA_Expiration_Date</name>
            <dataType>Date</dataType>
            <fieldText>SLA Expiration Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SIC_Code</name>
            <dataType>String</dataType>
            <fieldText>SIC Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>textdefault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>defaultValue</elementReference>
        </value>
    </variables>
</Flow>
